.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* My works starts here */
.btn-src {
  padding-bottom: 20px;
  text-align: center;
}

.ex-btn {
  padding-left: 50px;
}

.ex1-btn {
  padding-left: 40px;
}

.add-btn {
  padding-left: 40px;
}

.Action-btn {
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: end;
}